
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="180x180" href="images/icons/favicon.ico">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" sizes="16x16">
    <link href="~/css/template.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.minn.css" rel="stylesheet" />
</head>

<body>

    <header class="top-bar">
        <div class="container">
            <div class="clearfix">
                <div class="col-left float_left">
                    <div id="polyglotLanguageSwitcher" class="">
                    </div>
                    <ul class="top-bar-info">
                        <li><i class="icon-technology"></i>Phone:(+90) 212 276 63 73</li>
                        <li><i class="icon-note2"></i>info@mdarge.com</li>
                    </ul>
                </div>
                <div class="col-right float_right">
                    <ul class="social">
                        <li>Stay Connected: </li>
                        @*<li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>*@
                        <li><a href="https://www.linkedin.com/company/mdarge/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/MDArgeYazilimHizmetleriAS/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/md.arge/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <div class="btn">

                        @*<a href="/Home/freeContact" type="button" class="btn1">Free Trial</a>*@

                    </div>
                </div>

            </div>


        </div>




    </header>


    <section class="theme_menu stricky">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="main-logo">
                        <a href="/Home/index"><img src="~/images/logo/LOGO.svg" alt="" style="height: 50%; width: 50% "></a>
                    </div>
                </div>  
                <div class="col-md-8 menu-column">
                    <nav class="menuzord" id="main_menu">
                        <ul class="menuzord-menu">
                            <li><a href="/Home/index">Home</a></li>

                            <li>
                                <a href="#">About us</a>
                                <ul class="dropdown">
                                    <li><a href="/Home/about">ABOUT US</a></li>
                                    <li><a href="/Home/team">MEET OUR TEAM</a></li>
                                    @*<li><a href="/Home/faq">FAQ’S</a></li>*@

                                </ul>
                            </li>
                            <li>
                                <a href="#">products</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">RADIATION THERAPY</a>
                                        <ul class="dropdown">
                                            <li><a href="/Home/ufc">UFC</a></li>
                                            <li><a href="/Home/dcubebasic">D-CUBE BASIC</a></li>
                                            <li><a href="/Home/dcubeauto">D-CUBE AUTOMATIC</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">RADIOLOGY</a>
                                        <ul class="dropdown">
                                            <li> <a href="/Home/dcuberadyology">D-CUBE RADIOLOGY</a></li>
                                            <li><a href="/Home/dcubeallInOne">D-CUBE ALL IN ONE</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="/Home/contact">Contact us</a></li>

                        </ul>



                    </nav>
                    <div class="right-column">
                        <div class="right-area">
                            <div class="nav_side_content">
                                <div class="search_option">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <div>
        @RenderBody()
    </div>







    <footer class="main-footer">
        <div class="call-out">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="float_left">
                            <h4></h4>
                        </div>
                        <div>
                            <a href="/Home/contact" class="thm-btn-tr">Request Quote</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="container">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">

                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget about-widget">
                                    <h3 class="footer-title">About Us</h3>

                                    <div class="widget-content">
                                        <div class="text">
                                            <p>
                                                The idea, which started in 2013 as a doctoral dissertation, started the adventure of commercialization with the establishment of MD ARGE in 2017. MD ARGE is continuing its efforts to increase the sensitivity and accuracy of cancer treatment.
                                            </p>
                                        </div>
                                        <div class="link">
                                            <a href="/Home/about" class="default_link">More About us <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h3 class="footer-title">Our Products</h3>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="/Home/ufc">UFC</a></li>
                                            <li><a href="/Home/dcubebasic">D-CUBE BASIC</a></li>
                                            <li><a href="/Home/dcubeauto">D-CUBE AUTOMATIC</a></li>
                                            <li><a href="/Home/service4">D-CUBE RADIOLOGY </a></li>
                                            <li><a href="/Home/service5">D-CUBE ALL IN ONE </a></li>
                                            @*<li><a href="/Home/service4">SMART QA SOFTWARE</a></li>
                                            <li><a href="/Home/service5">SMART QA ALGORITHM</a></li>
                                            <li><a href="/Home/service6">TOTAL BODY TREATMENT PLANING SYSTEM</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Big Column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">


                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget contact-widget">
                                    <h3 class="footer-title">Contact us</h3>
                                    <div class="widget-content">
                                        <ul class="contact-info">
                                            <li>
                                                <span class="icon-signs"></span>ITU Arı Teknokent ARI 1 Binası,
                                                Reşitpaşa Mah. Katar Caddesi No: 2 / 5 / 19
                                                <br>SARIYER / ISTANBUL
                                            </li>
                                            <li><span class="icon-phone-call"></span> Phone:(+90) 212 276 63 73</</li>
                                            <li><span class="icon-e-mail-envelope"></span>info@mdarge.com</li>
                                        </ul>
                                    </div>
                                    <ul class="social">

                                        @*<li><a href="https://twitter.com/medica_well"><i class="fa fa-twitter"></i></a></li>*@
                                        <li><a href="https://www.linkedin.com/company/mdarge/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.facebook.com/MDArgeYazilimHizmetleriAS/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/md.arge/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget news-widget">
                                    <h3 class="footer-title">Newsletter</h3>
                                    <div class="widget-content">
                                        <!--Post-->
                                        <div class="text"><p>Sign up today for hints, tips and the <br>latest product news</p></div>
                                        <!--Post-->
                                        <form action="#" class="default-form">
                                            <input type="email" placeholder="Email Address">
                                            <button type="submit" class="thm-btn">Subscribe Us</button>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <section class="footer-bottom">
            <div class="container">
                <div class="pull-left copy-text">
                    <p>Copyrights © 2018 All Rights Reserved. Powered by  <a href="http://mdarge.com"> MD ARGE.</a></p>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </section>



    </footer>

    <button class="scroll-top tran3s color2_bg">
        <span class="fa fa-angle-up"></span>
    </button>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="@Url.Content("/js/jquery.js")"></script>
    <!-- bootstrap js -->
    <script src="@Url.Content("/js/bootstrap.min.js")"></script>
    <!-- jQuery ui js -->
    <script src="@Url.Content("/js/jquery-ui.js")"></script>
    <!-- owl carousel js -->
    <script src="@Url.Content("/js/owl.carousel.min.js")"></script>
    <!-- jQuery validation -->
    <script src="@Url.Content("/js/jquery.validate.min.js")"></script>

    <!-- mixit up -->
    <script src="@Url.Content("/js/wow.js")"></script>
    <script src="@Url.Content("/js/jquery.mixitup.min.js")"></script>
    <script src="@Url.Content("/js/jquery.fitvids.js")"></script>
    <script src="@Url.Content("/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("/js/menuzord.js")"></script>

    <!-- revolution slider js -->
    <script src="@Url.Content("/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("/js/jquery.themepunch.revolution.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.actions.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.carousel.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.kenburn.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.layeranimation.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.migration.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.navigation.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.parallax.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.slideanims.min.js")"></script>
    <script src="@Url.Content("/js/revolution.extension.video.min.js")"></script>

    <!-- fancy box -->
    <script src="@Url.Content("/js/jquery.fancybox.pack.js")"></script>
    <script src="@Url.Content("/js/jquery.polyglot.language.switcher.js")"></script>
    <script src="@Url.Content("/js/nouislider.js")"></script>
    <script src="@Url.Content("/js/jquery.bootstrap-touchspin.js")"></script>
    <script src="@Url.Content("/js/SmoothScroll.js")"></script>
    <script src="@Url.Content("/js/jquery.appear.js")"></script>
    <script src="@Url.Content("/js/jquery.countTo.js")"></script>
    <script src="@Url.Content("/js/jquery.flexslider.js")"></script>
    <script src="@Url.Content("/js/imagezoom.js")"></script>
    <script id="map-script" src="@Url.Content("/js/default-map.js")"></script>
    <script src="@Url.Content("/js/custom.js")"></script>


</body>
</html>